body {
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#cabecera {
    background: darkblue;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 1em;
}

#cabecera span {
    color: rgb(1, 226, 251);
    font-size: 18px;
    padding-left: 15px;
}


#container h1 {
    font-size: 20px;
}